html {
  scroll-behavior: smooth;
}

body {
  color: var(--text-main);
  background: var(--background-body);

  text-rendering: optimizeLegibility;
}

button,
input,
textarea {
  transition: background-color var(--animation-duration) linear,
    border-color var(--animation-duration) linear,
    color var(--animation-duration) linear,
    box-shadow var(--animation-duration) linear,
    transform var(--animation-duration) ease;
}
