
/* GRID */

/* ROW */
.row {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 2%;
}

.col-mb-12 {
  grid-column: span 12
}

.col-mb-11 {
  grid-column: span 11;
}

.col-mb-10 {
  grid-column: span 10
}

.col-mb-9 {
  grid-column: span 9
}

.col-mb-8 {
  grid-column: span 8
}

.col-mb-7 {
  grid-column: span 7
}

.col-mb-6 {
  grid-column: span 6
}

.col-mb-5 {
  grid-column: span 5
}

.col-mb-4 {
  grid-column: span 4
}

.col-mb-3 {
  grid-column: span 3
}

.col-mb-2 {
  grid-column: span 2
}

.col-mb-1 {
  grid-column: span 1
}

@media (min-width: 540px) {
  .col-12 {
    grid-column: span 12
  }

  .col-11 {
    grid-column: span 11;
  }

  .col-10 {
    grid-column: span 10
  }

  .col-9 {
    grid-column: span 9
  }

  .col-8 {
    grid-column: span 8
  }

  .col-7 {
    grid-column: span 7
  }

  .col-6 {
    grid-column: span 6
  }

  .col-5 {
    grid-column: span 5
  }

  .col-4 {
    grid-column: span 4
  }

  .col-3 {
    grid-column: span 3
  }

  .col-2 {
    grid-column: span 2
  }

  .col-1 {
    grid-column: span 1
  }
}
